---
interface Props {
	items: {
		name: string
		href?: string
	}[]
}

const { items } = Astro.props
---

<nav class='mb-4' aria-label='breadcrumb'>
	<ol class='flex items-center space-x-2 text-sm text-gray-500 dark:text-gray-400'>
		{
			items.map((item, index) => (
				<li class='flex items-center'>
					{index > 0 && <span class='mx-2'>/</span>}
					{item.href ? (
						<a href={item.href} class='hover:text-blue-500 dark:hover:text-blue-400'>
							{item.name}
						</a>
					) : (
						<span class='text-gray-900 dark:text-gray-100'>{item.name}</span>
					)}
				</li>
			))
		}
	</ol>
</nav>
